html {
    color: #454545;
    background-color: #EEEEEE;
    font-family: sans-serif;
    text-align: center;
}

p {
    margin: 10%;
}

.success {
    color: #28a745;
    font-size: 150%;
}

.failure {
    color: #dc3545;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: #5050FF;
}

a:visited {
    color: #E050FF
}

a:hover {
    color: orangered;
}

