<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
	<h1>{{title}}</h1>
	<main>
	    {{{body}}}
	</main>
    </body>
</html>
