<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
	<header><h1>{{title}}</h1></header>
	<main>
	    {{{body}}}
	</main>
	<footer>
		Lab 10 © 2020
		<a href="https://EricLondr.es/">Eric S. Londres</a>
		(<a href="mailto:elondres@stevens.edu">10422608</a>)
	</footer>
    </body>
</html>

