<p>You must log in to proceed.</p>
<form action="/login" method="POST" id="login-form">
    <div class="form-item">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" placeholder="Enter your username...">
    </div>
    <div class="form-item">
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" placeholder="Enter your password...">
    </div>
    <div class="form-item">
	<label for="submit">Submit:</label>
	<input type="submit" id="submit" value="Log In">
    </div>
</form>
