<h2>Here's the information we have on file for you:</h2>
<div id="user-data">
    {{#each user}}
    <div id="{{@key}}" class="datum">
	<span class="key">{{@key}}</span>: <span class="value">{{this}}</span>
    </div>
    {{/each}}
</div>
<div id="logout-button"><a id="logout-link" href="/logout">Log Out</a></div>
