<p>Palindromes are words or numbers which read the same backwards as forwards. For example, "racecar" is a palindrome, as is "A man, a plan, a canal, Panama!" This website will check to see if a given word or phrase is a palindrome.</p>
<form action="/result" method="POST">
    <label for="text">Check if a phrase is a palindrome:</label>
    <input type="text" id="text" name="text-to-test" placeholder="Type a phrase...">
    <label for="submit">Submit</label>
    <input type="submit" id="submit" value="Test text">
</form>
    
