{{#if hasErrors}}
<p class="error">
    <h2>The following errors occurred:</h2>
    <ul class="error-list">
	{{#each errors}}
	<li>{{this}}</li>
	{{/each}}
    </ul>
</p>
{{else}}
{{#if success}}
<p class="success">{{text-to-test}}</p>
<p class="details">Your text <span class="positive-result">was</span> a palindrome!</p>
{{else}}
<p class="failure">{{text-to-test}}</p>
<p class="details">Your text <span class="negative-result">was not</span> a palindrome!</p>
{{/if}}


{{/if}}

<a href="/">Try another palindrome.</a>
