html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #454545;
    background-color: #EEEEEE;
    font-family: sans-serif;
    height: 100%;
}

header, footer {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    margin: 15%;
}

.key {
    font-family: monospace;
    font-variant: small-caps;
    font-size: 1.1em;
    color: #F54545;
}

.datum {
    margin: 10px;
}

#hashedPassword {
    display: none;
}

#logout-button {
    display: block;
    text-align: center;
    margin: 10%;    
}

#logout-link {
    font-size: 1.2em;
    background-color: white;
    padding: 2%;
    border: 2px double #2f8731;
    border-radius: 1em;
}
